.s-contact {
  height: 50rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    .titles {
      text-align: center;
      h2 {
        font-size: 3rem;
        color: #f5f5f5;
        margin-bottom: 1rem;
      }
      span {
        font-size: 2rem;
        color: #bebebe;
      }
    }
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6rem;
      ul {
        display: flex;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          color: #949494;
          &:not(:last-child) {
            margin-right: 5rem;
          }
          img {
            width: 30px;
            height: 30px;
            &:first-child {
              margin-right: 1rem;
            }
          }
          list-style: none;
          a {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  @media (max-width: 400px) {
    .container {
      .icons {
        margin-top: 4rem;
        ul {
          flex-direction: column;
          li {
            &:not(:last-child) {
              margin-right: 0;
              margin-bottom: 3rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .s-black-tiles {
    display: none;
  }
}
