header {
  background: #181824;
  height: 12rem;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name {
      h1 {
        color: #7562e0;
        font-size: 3rem;
      }
    }
    .links {
      ul {
        display: flex;
        li {
          &:not(:last-child) {
            margin-right: 8rem;
          }
          list-style: none;
          a {
            text-decoration: none;
            color: white;
            font-size: 1.8rem;
            transition: all 0.3s;

            &:hover {
              color: #7562e0;
            }
          }
        }
      }
    }
  }
}
