footer {
  margin-top: 8rem;
  background-color: #181824;

  .container {
    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10rem;
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
