footer {
  margin-top: 8rem;
  background-color: #181824;

  .container {
    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10rem;
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  @media (max-width: 600px) {
    .container {
      .info {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  @media (max-width: 400px) {
    .container {
      .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        text-align: center;
        justify-content: center;

        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
